
#container {
  width: 840;
  height: 720;
  background-image: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #faf5f5;
  margin: 0;
}

#container .titulo {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}


#container .body{

  width: auto;
  text-align: center;
  
}


#container .mesa {

  display: grid;
  width: 640px;
  height: 360px;
  margin: 0 auto;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  text-align: center;
  
}

#container .mesa .monte {

  grid-column: 4;
  grid-row: 2;
  width: 90%;
  text-align: center;
  justify-content: center;
  color: beige;

}

#container .mesa .deck {

  grid-column: 6;
  grid-row: 2;
  width: 90%;
  text-align:center;
  justify-content: center;
  color: beige;
}

#container .mesa .minha-mao {
  grid-column: 4/7;
  grid-row: 4;
  width: 100%;
  display: flex;
  justify-content: center;
}
#container .mesa .bot1 {
  grid-column: 1;
  grid-row: 2 / 4;
  width: 90%;
  height: 60%;
  justify-content: center;
}

#container .mesa .p-jogada{

  grid-column: 5;
  grid-row: 3;

}

#container .mesa .b1-jogada{


  grid-column: 2;
  grid-row: 2;
  transform: rotate(90deg);
}

#container .minha-mao div {
  padding: 1px;
  font-size: 1rem;
  text-align: center;
  width: 300px;
  height: 70px;
}

#container .minha-mao div:hover {
 
  box-shadow:1px 1px 10px rgba($color: #f0ecec, $alpha: 1.0)
  
}


#container .bot1 div {

  transform: rotate(90deg);
  padding: 1px;
  font-size: 1rem;
  text-align: center;
  width: 50px;
  height: 35px;
  margin-left: 30px;
}
