<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sequencia Card v1.0beta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <div class="titulo">
      <strong>Pronto para começar?</strong>
      <p>Clique em 
        <ion-text color="secondary">
          <strong>INICIAR JOGO</strong>
        </ion-text>
      no rodape!</p>
    </div>

    <div class="mesa">
      <div class="monte">
        <p>mesa</p>
        <img src="" alt="monte">
      </div>
      <div class="deck">
        <p>deck</p>
        <img src="/assets/cards/verso-carta.png" alt="deck">
      </div>
    </div>

    <div class="minha-mao">
      <div class="carta-1"></div>
      <div class="carta-2"></div>
      <div class="carta-3"></div>  
      <div class="carta-4"></div>
      <div class="carta-5"></div>
      <div class="carta-6"></div>
    </div>
    
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-button color="primary" (click) ="iniciarJogo()">Iniciar Jogo</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>
